/PerfumeStore.App/PerfumeStore.API/obj/Debug/net10.0/PerfumeStore.API.AssemblyInfo.cs
/PerfumeStore.App/PerfumeStore.API/obj/Debug/net10.0/PerfumeStore.API.AssemblyInfoInputs.cache
/PerfumeStore.App/PerfumeStore.API/obj/Debug/net10.0/PerfumeStore.API.assets.cache
/PerfumeStore.App/PerfumeStore.API/obj/Debug/net10.0/PerfumeStore.API.csproj.AssemblyReference.cache
/PerfumeStore.App/PerfumeStore.API/obj/Debug/net10.0/PerfumeStore.API.GeneratedMSBuildEditorConfig.editorconfig
/PerfumeStore.App/PerfumeStore.API/obj/Debug/net10.0/rpswa.dswa.cache.json
/PerfumeStore.App/PerfumeStore.API/obj/PerfumeStore.API.csproj.nuget.dgspec.json
/PerfumeStore.App/PerfumeStore.API/obj/PerfumeStore.API.csproj.nuget.g.props
/PerfumeStore.App/PerfumeStore.API/obj/project.assets.json
/PerfumeStore.App/PerfumeStore.API/obj/project.nuget.cache
/PerfumeStore.App/PerfumeStore.API/obj/Debug/net10.0/PerfumeStore.API.AssemblyInfo.cs
/PerfumeStore.App/PerfumeStore.API/obj/Debug/net10.0/PerfumeStore.API.AssemblyInfoInputs.cache
/PerfumeStore.App/PerfumeStore.API/obj/Debug/net10.0/PerfumeStore.API.assets.cache
/PerfumeStore.App/PerfumeStore.API/obj/Debug/net10.0/PerfumeStore.API.csproj.AssemblyReference.cache
/PerfumeStore.App/PerfumeStore.API/obj/Debug/net10.0/PerfumeStore.API.GeneratedMSBuildEditorConfig.editorconfig
/PerfumeStore.App/PerfumeStore.API/obj/Debug/net10.0/rpswa.dswa.cache.json
/PerfumeStore.App/PerfumeStore.API/obj/PerfumeStore.API.csproj.nuget.dgspec.json
/PerfumeStore.App/PerfumeStore.API/obj/PerfumeStore.API.csproj.nuget.g.props
/PerfumeStore.App/PerfumeStore.API/obj/project.assets.json
/PerfumeStore.App/PerfumeStore.API/obj/project.nuget.cache
/PerfumeStore.App/PerfumeStore.API/obj
/PerfumeStore.App/PerfumeStore.API/obj/Debug/net10.0/PerfumeStore.API.AssemblyInfoInputs.cache
/PerfumeStore.App/PerfumeStore.API/obj/Debug/net10.0/PerfumeStore.API.assets.cache
/PerfumeStore.App/PerfumeStore.API/obj/Debug/net10.0/PerfumeStore.API.csproj.AssemblyReference.cache
/PerfumeStore.App/PerfumeStore.API/obj/Debug/net10.0/PerfumeStore.API.GeneratedMSBuildEditorConfig.editorconfig
/PerfumeStore.App/PerfumeStore.API/obj/Debug/net10.0/rpswa.dswa.cache.json
/PerfumeStore.App/PerfumeStore.API/obj/PerfumeStore.API.csproj.nuget.dgspec.json
/PerfumeStore.App/PerfumeStore.API/obj/PerfumeStore.API.csproj.nuget.g.props
/PerfumeStore.App/PerfumeStore.API/obj/project.assets.json
/PerfumeStore.App/PerfumeStore.API/obj/project.nuget.cache
/PerfumeStore.App/PerfumeStore.Application/obj
